.shoppingcart-container {
  display: flex;
  background-color: whitesmoke;
}

.cart-title {
  border-bottom: thin solid lightgrey;
  padding-bottom: 3%;
  padding-top: 2%;
  padding-left: 5%;
}

.title-price {
  display: flex;
  justify-content: space-evenly;
}

#cart-price {
  text-align: right;
  position: relative;
  bottom: 10%;
  right: 2%;
  color: #565959;
  font-size: 14px;
}
.Incart-container {
  background-color: white;
  width: 80%;
  margin: 59px;
}

.leftcart {
  display: flex;
  flex-direction: column;
}

.incart-img {
  width: 200px;
  height: 200px;
  text-align: center;
}
.inCart-img {
  text-align: center;
  padding-left: 5%;
  /* width: 20%; */
}
.cart-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  /* width: 100vw; */
  border-bottom: thin solid lightgrey;
  padding-bottom: 1%;
  padding-top: 1%;
}
.right-item {
  width: 50%;
  text-align: left;
  position: relative;
  left: 6%;
}

.price-cart {
  position: relative;
  left: 142%;
  bottom: 22%;
}

#cart-stock {
  position: relative;
  font-size: 13px;
  bottom: 30%;
}

.return {
  position: relative;
  bottom: 35%;
}

.qty-container {
  position: relative;
  bottom: 40%;
}

.qty-list {
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
}

.remove-item {
  margin-left: 5%;
  color: #007185;
  border: none;
  background-color: white;
  cursor: pointer;
  border-left: 1px solid lightgrey;
}

.right-section {
  width: 260px;
  height: 130px;
  margin: 20px;
  padding-top: 2%;
  background-color: white;
  position: absolute;
  left: 83%;
  bottom: 62%;
  /* bottom: 800px; */
}
.subtitle {
  font-size: 18px;
  padding-left: 10%;
  margin-bottom: 200px;
}

#subcheckout {
  font-weight: bold;
}

.proceed {
  text-decoration: none;
}

#proceed-btn {
  width: 50%;
  padding: 8px 20px;
  margin: 20px 10px 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
