.navbar {
  display: flex;
  /* justify-content: space-between; */
  height: 80px;
  background-color: #131921;
}

.logo {
  /* font-weight: bold; */
  text-decoration: none;
  padding: 1px 8px 0 6px;
  margin: 5px;
  font-size: 30px;
  color: white;

  cursor: pointer;
}

.logo-img {
  width: 170px;
  height: auto;
  position: relative;
  top: -40px;
  left: -10px;
  z-index: 1;
}

.deli-to {
  color: white;
  margin: 20px;

  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  margin: 20px 2px 15px -5px;
}

#to-name {
  color: #ccc;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
}

.fa-location-dot {
  margin-left: -14px;
}
