.navbar {
  display: flex;
  /* justify-content: space-between; */
  height: 80px;
  background-color: #131921;
}

.logo {
  /* font-weight: bold; */
  text-decoration: none;
  padding: 1px 8px 0 6px;
  margin: 5px;
  font-size: 30px;
  color: white;

  cursor: pointer;
}

.logo-img {
  width: 170px;
  height: auto;
  position: relative;
  top: -40px;
  left: -10px;
  z-index: 1;
}

.deli-to {
  color: white;
  margin: 20px;

  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  margin: 20px 2px 35px -5px;
  margin-right: 30px;
}

#to-name {
  color: #ccc;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
}

.fa-location-dot {
  margin-left: -14px;
}

.search-container {
  padding: 10px 4px 10px 3px;
  /* height: 60px; */
  width: 900px;
  /* align-items: center; */
  display: flex;
  align-items: center;
}

.drop-down {
  height: 35px;
  width: 60px;
}

.search-input {
  height: 29px;
  font-size: 15px;
  width: 1100px;
}

.search-btn {
  width: 40px;
  height: 35px;
  font-size: 14px;
  background-color: #febd69;
}
.fa-magnifying-glass {
  font-size: 22px;
}

.to-account {
  text-decoration: none;
  color: white;
  margin-left: 18%;
  /* margin-top: 1%; */
  padding: auto;
  /* position: relative; */
  height: 100%;
  padding: 10px;
  width: auto;
  box-sizing: border-box;
  /* float: left; */
  /* left: 60px; */
}

#hello {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
}

.acct {
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
}

div.to-account:hover {
  border: 1px solid white;
  cursor: pointer;
  overflow: hidden;
  margin-right: -2px;
}

.cart-icon {
  margin: auto;
  position: absolute;
  right: 6.5%;
  top: 2%;
}

.quantity-icon {
  color: #f08804;
  font-size: 20px;
  font-weight: bold;
  width: 19px;
  position: absolute;
  right: 15%;
}

.logout-btn {
  margin: auto;
  height: 50%;
  cursor: pointer;
  text-align: center;
  width: 100px;
  background: linear-gradient(0deg, #f0c14d 0%, #faebc8 100%);
  color: #131921;
  font-weight: bold;
}

.log-container {
  width: auto;
  position: relative;
  left: 60px;
  top: 20px;
  padding: 10px;

  border-radius: 4px;
}
