.check-title {
  color: #565959;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 35px;
}

#choose {
  margin-left: 1%;
}

.inner-title {
  font-weight: bold;
  margin-left: 2%;
  border-bottom: 1px solid #e7e7e7;
}

.list-address {
  margin-left: 4%;
  margin-bottom: 1%;
}

.label-address {
  margin-left: 1%;
}

#checkout-address {
  width: 20%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.addAddress {
  text-align: center;
  font-size: 20px;
}

.allowed {
  text-align: center;
  color: rgb(6, 103, 6);
}

.address-input {
  width: 100%;
  height: 18px;
  padding: 1%;
}
#state-dropdown {
  height: 25px;
  width: 104%;
}

#add-shippAddress {
  margin-top: 10%;
  width: 105%;
  margin-bottom: 5%;
}

#visa-img {
  margin-right: 2%;
}
#credit-card {
  font-weight: bold;
}

#cc-number {
  font-weight: 400;
}
.inner-payment {
  margin: 2%;
  display: flex;
  align-items: center;
}

#before-warning {
  border: 2px solid #1196ab;
  border-radius: 8px;
  width: 40%;
  height: 120px;
  margin-left: 3%;
  border-left: 13px solid #1196ab;
  margin-bottom: 1%;
}

.inner-warning {
  padding: 14px 18px 18px;
}

.fa-circle-exclamation {
  color: #1196ab;
  font-size: 20px;
  border-radius: 20px;
  margin-right: 2%;
}

#before-order {
  font-weight: 700;
  font-size: 18px;
}

.grp1 {
  margin-bottom: 2%;
}

.warning-body {
  font-size: 14px;
  line-height: 20px;
}
#represent {
  color: #007185;
  text-decoration: none;
}

.shipping-innerContainer {
  border: 1.5px solid lightgrey;
  border-radius: 8px;
  font-size: 15px;
  line-height: 20px;
  width: 45%;
  margin-left: 60px;
}

.delivery-info {
  font-weight: 700;
  font-size: 18px;
  color: #007600;
  margin: 2%;
}

#ifyou {
  color: #565959;
  font-weight: 400;
  font-size: 15px;
}

.ship-ama {
  line-height: 20px;
  font-size: 14px;
  color: #565959;
  font-weight: 200;
}

.checkout-item {
  display: flex;
  margin-left: 2%;
  margin-bottom: 2%;
}

.checkout-img {
  max-width: 100px;
  max-height: 100px;
}

.pro-title {
  margin-left: 5%;
  margin-top: 1%;
  text-align: left;
  font-size: 14px;
  width: 100%;
}

.pro-itemtitle {
  font-size: 14px;
  text-align: left;
  margin-left: 1%;
  margin-top: 0%;
}
.second-check {
  margin-left: 1%;
  margin-top: -3%;
}

#prime-img {
  margin-top: -2%;
  position: relative;
  bottom: -5px;
}

#checkout-price {
  color: #b12704;
  font-size: 15px;
  font-weight: bold;
}

#soldby {
  color: #565959;
  font-size: 12px;
}

.right-checkout {
  /* background-color: gray; */
  position: relative;
  width: 30%;
  left: 75%;
  bottom: 280px;
}

#delivery-label {
  color: #007600;
}

#des-date {
  color: #565959;
  margin-left: 8%;
}

@media screen and (max-width: 1800px) {
  .right-checkout {
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .delivery-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
  }
  .pro-title,
  .product-review,
  .pro-itemtitle {
    width: 70%;
  }
}
