.cate-nav {
  display: flex;
  justify-content: space-around;
  background-color: #232f3e;
  height: 39px;
  color: white;
  /* margin-top: 1%; */
}

.category {
  color: white;
  text-decoration: none;
  height: 12px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
  padding: 8px;
}

.category:hover {
  border: 1px solid white;
}

.nav-word {
  color: white;
}

@media screen and (max-width: 800px) {
  .cate-nav {
    height: auto;
    width: auto;
  }
}
