.home-container {
  height: 55vh;
  background-image: url("https://img.freepik.com/free-vector/sport-equipment-banner_1284-32611.jpg?w=2000");
  /* background-image: url("https://previews.123rf.com/images/vaskinamat/vaskinamat1702/vaskinamat170200022/72494424-sport-banner-facebook-cover-set-of-sport-balls-and-gaming-items-at-a-blue-background-corporate-faceb.jpg"); */
  /* background-image: url("https://i.pinimg.com/originals/48/5d/f5/485df5ce7d4c18f30c8585373aa244b1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-mask-image: linear-gradient(#000 88%, transparent);
}

.bot-container {
  background-color: #d3d3d391;
  margin: 0;
  height: 100%;
  display: block;
  overflow: hidden;
}

.product-list {
  display: flex;

  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-top: 2%;
  padding: -20px;
}

.home-list {
  height: 400px;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* border: 1px solid black; */
  width: 16%;
}

.product-img {
  width: 15rem;
  border-radius: 25px;
}

/* footer  */

.footer {
  display: flex;
  background-color: #232f3e;
  justify-content: space-evenly;
  /* width: 100%; */
  padding-top: 2%;
  color: white;
  height: 30vh;
}

.tit {
  font-size: 18px;
  font-weight: bold;
  /* margin-top: 25%; */
  margin-bottom: 7%;
}

.a-links {
  text-decoration: none;
}

.tech-container {
  width: 10%;
}

.a-div {
  margin-top: 10px;
  width: fit-content;
  color: #ddd;
  font-weight: bold;
  font-size: 13px;
}

.name {
  color: #ddd;
  font-weight: bold;
  font-size: 14px;
}

a:visited {
  color: white;
}

.a-div:hover {
  border-bottom: 1px solid white;
}
